---
extends: default

ignore: |
  secrets/
  ansible/build/
  ansible/.venv/

rules:
  line-length: disable
  document-start: disable
  truthy:
    check-keys: false
  comments:
    min-spaces-from-content: 1
  braces:
    max-spaces-inside: 1
